
body{ 
	background: pink;
}
 
 nav{
 	text-align: center;
 }

h1{
	text-align: center;
	font-size: 40px;
	font-family: 'Lobster', cursive;
	color: #0000;
}
 /*Home Page*/
 .profile-photo{
 	display: block;
 	max-width: 500px;
 	margin:  auto 15px;
 	border-radius: 40%;
 }
.homepage{
	text-align: left;
	margin-left: 80px;
	font-family: 'Great Vibes', cursive;
	font-size: 65px;
	
}

header{
	background: #E86491;
	}

.minor{
	text-align: center;
}