
body{ 
	background: pink;
}
 
 nav{
 	text-align: center;
 }

h1{
	text-align: center;
	font-size: 40px;
	font-family: 'Lobster', cursive;
	color: #0000;
}
 /*Home Page*/
 .profile-photo{
 	display: block;
 	max-width: 500px;
 	margin:  auto 15px;
 	border-radius: 40%;
 }
.homepage{
	text-align: left;
	margin-left: 80px;
	font-family: 'Great Vibes', cursive;
	font-size: 65px;
	
}

header{
	background: #E86491;
	}

.minor{
	text-align: center;
}


/* Stle Tile */
/* Layout for Style Tile
Feel free to change */
section {
	margin: 20px 0;
}

.color-1,
.color-2,
.color-3,
.pattern-1,
.pattern-2,
.pattern-3, 
.imagery-1,
.imagery-2,
.imagery-3 {
	border: 1px solid #000;
	float: left;
	margin: 0 10px;
	height: 50px;
	width: 50px;
}

/* Set Your Own Typography */


/* Set Your Own Margin & Padding */
h2, h3, p {
	margin: 0;
}

/* Clearfix - Oo Not Remove */
.clearfix {clear:both;display:block;overflow:hidden;visibility:hidden;width:0;height:0}

.style-tile .color-1 {
	background: red;

}

.style-tile .color-2 {
	background: white;
	
}

body.style-tile {
	font-family: 'Bree Serif', serif;
}






